@use "../global/" as *;

#form_section {
    background-color: $light_background;
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.form_section {
    min-height: 100vh;
    div div {
        border-radius: 1rem ;     
              
    }
    &__pb {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        margin-top: -2rem;
        margin-bottom: 4rem;
        position: relative;
        height: 2rem;
        @media (max-width: 950px) {
            width: 70%;
            
        }
        background-color: rgb(203, 203, 203);
        .progres_step {
            border: 4px solid $theme_color;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 1;
            font-size: $h2-size;
            font-weight: 700;
        }
        .progres_bar {
            height: 2rem;
            background-color: $theme_color;
            position: absolute;
            right: 0rem;
            border-radius: 4rem;
            &.step_1 {
                width: 0%;
            }
            &.step_2 {
                width: 33.3%;
            }
            &.step_3 {
                width: 66.6%;
            }
            &.step_4 {
                width: 100%;
            }
        }
    }
    &__title {
        text-align: center;
        font-size: $h4-size;
        margin-bottom: 4rem;
        order: 4;
    }
    &__form_container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 4rem;
        flex-wrap: wrap;
        @media (max-width:950px) {
            flex-direction: column;
            padding: 0 0;
        }
        .service_description {
            padding: 2rem;
            width: calc(50% - 1rem);
            background-color: white;
            height: fit-content;
            @media (max-width:1150px) {
                width: calc(40% - 1rem);
            }
            @media (max-width:950px) {
                width: 100%;
            }
         .image_container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
            img {
                width: 30%;
            }
            h3 {
                color: $theme_color;
                font-size: $h2-size;
                font-family: $title-font;
                font-weight: 600;
            }

         }  
         .paragraph {
            color: $text-Dgray;
            font-size: $h3-size;
            font-family: $paragraph-font;
            font-weight: 400;
            line-height: 2.5rem;
         } 
        }
        .form_step {
            width: calc(50% - 1rem);
            background-color: white !important;
            @media (max-width:950px) {
                width: 100%;
            }
            .form_step_questions {
                display: flex;
                flex-direction: column;
                .form_group {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;
                    padding: 2rem;
                    .title {
                        color: $theme_color;
                        font-size: $h3-size;
                        font-family: $title-font;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }
                    &__checkbox_container {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .checkbox {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            input {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                        label {
                            color: $text-Dgray;
                            font-size: $h4-size;
                            font-family: $title-font;
                            font-weight: 500;
                        }
                    }
                    &__question {
                        color: black;
                        font-size: 1.5rem;
                        font-family: $title-font;
                        font-weight: 600;
                        position: relative;
                        width: fit-content;
                        margin: 0.8rem 0;
                        &::before {
                            content: "*";
                            color: rgb(255, 0, 0);
                            margin-right: 0.5rem;
                            position: absolute;
                            left: -1rem;
                            bottom: 0.3rem;
                        }
                    }
                    &__answer {
                        border :1px solid $text-gray;
                        height: 4rem;
                        border-radius: 0.6rem;
                        outline: none;
                        padding: 0 1rem;
                        font-family: $title-font;
                        :focus {
                            border: 2px solid $theme_color;
                        }
                    }
                    textarea {
                        border :1px solid $text-gray;
                        border-radius: 0.6rem;
                        outline: none;
                        padding: 1rem;
                        height: 100px;
                        :focus {
                            border: 1px solid $theme_color;
                        }
                    }
                }
            
            }
            .step_changer {
                display: flex;
                &__button {
                    text-align: center;
                    flex: 1;
                    width: 100%;
                    background-color: $theme_color;
                    color: white;
                    border: none;
                    outline: none;
                    margin: 1rem;
                    font-family: $title-font;
                    padding: 1rem;
                    font-weight: 600;
                    font-size: $h4-size;
                    border-radius: 0.4rem;
                }
            }
            .error_message {
                color: rgb(143, 0, 0);
                background-color: #ff7f7f;
                font-size: $h4-size;
                font-family: $title-font;
                padding: 0.6rem 0.4rem;
                margin: 0 15px;
            }
        }
    }

}
.none_after_step {
    @media (max-width: 950px){
        display: none;
    }
}