@use "../global/" as *;
#what_section {
    height: 50vh;
    padding-top: 15rem;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
        color : $theme_color;
        font-size: $h1-size;
        font-family: $title-font;
        font-weight: 600;
    }
    .paragraph {
        color: $text-Dgray;
        font-size: $h3-size;
        font-family: $paragraph-font;
        font-weight: 400;
        margin-top: 2rem;
    }
    // &::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 1000px;
    //     height: 1000px;
    //     background-color: $trans_theme_color;
    //     z-index: -1;
    //     border-radius: 50%;
    //     top: -40%;
    //     right: -40%;
    // }
}