@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Changa", sans-serif;
  position: relative;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

/* global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #222e60 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #222e60;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #222e60;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #222e60;
}

* {
  theme_color: #222e60;
}

.navbar__container {
  transition: 0.7s !important;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.23);
  transition: 0.7s;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  height: 10rem;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
@media (max-width: 950px) {
  .navbar__container {
    padding: 2rem 1rem;
  }
}
.navbar__container.top_header {
  background-color: transparent;
  box-shadow: none;
  transition: 0.7s !important;
  height: 12rem;
}
.navbar__container.top_header::before {
  transition: 0.7s !important;
  display: block;
  opacity: 100%;
}
.navbar__container::before {
  transition: 0.7s !important;
  position: absolute;
  content: "";
  display: none;
  opacity: 0;
  width: calc(100% - 10rem);
  height: 0.2rem;
  background-color: #545556;
  bottom: 0;
}
@media (max-width: 950px) {
  .navbar__container::before {
    width: 100%;
    left: 0;
  }
}
.navbar__container__image {
  width: 7.5rem;
  position: relative;
}
.navbar__container__image:hover::after {
  left: -20px;
  top: 20%;
  opacity: 100%;
}
.navbar__container__image:hover::before {
  left: -120px;
  opacity: 100%;
}
.navbar__container__image img {
  width: 100%;
  height: auto;
}
.navbar__container__image::after {
  transition: opacity 0.9s, left 0.7s, top 0.7s;
  content: "";
  display: block;
  width: 0.3rem;
  height: 80%;
  background-color: #222e60;
  position: absolute;
  left: 0px;
  top: 20%;
  opacity: 0;
}
@media (max-width: 950px) {
  .navbar__container__image::after {
    left: -20px;
    top: 20%;
    opacity: 100%;
  }
}
.navbar__container__image::before {
  transition: opacity 0.9s, left 0.7s, top 0.7s;
  transition: 0.7s;
  content: "نموذج تك";
  display: block;
  position: absolute;
  left: 0px;
  top: 40%;
  color: #222e60;
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0;
  font-family: "Readex Pro", sans-serif;
}
@media (max-width: 950px) {
  .navbar__container__image::before {
    left: -100px;
    opacity: 100%;
  }
}
.navbar__container__links {
  display: flex;
  justify-content: start;
  gap: 2.5rem;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 950px) {
  .navbar__container__links {
    display: none;
  }
}
.navbar__container__btn {
  background-color: #222e60;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 2rem;
  font-family: "Changa", sans-serif;
  width: 12rem;
  height: 4rem;
  font-weight: 600;
  border: none;
  outline: none;
  transition: 0.7s;
  margin-right: 0.6rem;
  cursor: pointer;
}
.navbar__container__btn:hover {
  background-color: #3d52ab;
}
@media (max-width: 950px) {
  .navbar__container__btn {
    display: none;
  }
}
.navbar__container__mobile__menu {
  display: none;
  font-weight: 600;
  color: #545556;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 1rem;
}
.navbar__container__mobile__menu svg {
  font-size: 3rem;
}
@media (max-width: 950px) {
  .navbar__container__mobile__menu {
    display: block;
  }
}
.navbar .mobile__navbar {
  z-index: 200;
  transition: 0.7s;
  width: 50%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 0;
  right: -50%;
  height: 100vh;
  border-left: 0.6rem solid #222e60;
}
@media (max-width: 750px) {
  .navbar .mobile__navbar {
    width: 70%;
  }
}
@media (max-width: 750px) {
  .navbar .mobile__navbar {
    right: -70%;
  }
}
.navbar .mobile__navbar .logo {
  width: 10rem;
  margin: 4rem auto 4rem;
}
.navbar .mobile__navbar__close {
  position: absolute;
  left: 3rem;
  top: 3rem;
  font-size: 3rem;
  color: #222e60;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar .mobile__navbar__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
  position: relative;
  padding: 2rem 4rem;
}
.navbar .mobile__navbar__links::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 0.1rem;
  background-color: #545556;
  top: 0;
  right: 10%;
}
.navbar .mobile__navbar__btn {
  background-color: #222e60;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 2rem;
  font-family: "Changa", sans-serif;
  width: 12rem;
  height: 4rem;
  font-weight: 600;
  border: none;
  outline: none;
}

.active_mobile_menu {
  right: 0% !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: none;
}
.overlay.active {
  display: block;
}

#what_section {
  padding: 15rem 0 5rem 0;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#what_section .title {
  color: #222e60;
  font-size: 3.2rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
}
#what_section .paragraph {
  line-height: 3rem;
  color: #545556;
  font-size: 1.6rem;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
}

#how_section {
  padding-top: 5rem;
  background-color: #f5f5f5;
  counter-reset: step;
}
#how_section .title {
  color: #222e60;
  font-size: 2.2rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
  margin-bottom: 4rem;
}
#how_section .steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}
@media (max-width: 850px) {
  #how_section .steps {
    gap: 1rem;
  }
}
#how_section .steps li {
  transition: 0.35s;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0 1rem 0.05rem rgba(0, 0, 0, 0.049);
}
#how_section .steps li::before {
  transition: 0.35s;
  counter-increment: step;
  content: counter(step);
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
  position: absolute;
  top: -15px;
  left: calc(50% - 15px);
  background-color: #222e60;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media (max-width: 850px) {
  #how_section .steps li {
    width: calc(50% - 1rem);
  }
}
#how_section .steps li:hover {
  box-shadow: 0 0 1rem 0.1rem rgba(52, 92, 255, 0.2901960784);
}
#how_section .steps li:hover.li .icon {
  color: rgb(14, 50, 193);
}
#how_section .steps li:hover::before {
  background-color: rgb(14, 50, 193);
}
#how_section .steps li .icon {
  font-size: 5rem !important;
  color: #222e60;
}
#how_section .steps li .description {
  color: #545556;
  font-size: 1.6rem !important;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}
#how_section .action {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
#how_section .action button {
  border: none;
  outline: none;
  width: 20rem;
  height: 4rem;
  background-color: #222e60;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  border-radius: 2rem;
  transition: 0.35s;
}
#how_section .action button:hover {
  background-color: rgb(14, 50, 193);
}

.footer {
  background-color: #222e60;
  color: white;
  padding: 2rem 0;
}
.footer p {
  text-align: center;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer_content div {
  max-width: 30%;
}
.footer_content div .title {
  font-size: 1.6rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #22B261;
}
.footer_content div svg {
  font-size: 1.5rem;
  color: #22B261;
  margin-left: 1rem;
}
.footer_content div span {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.footer_content__logo {
  color: #ebebeb;
}
.footer_content__logo img {
  width: 8rem;
  filter: brightness(0) invert(1);
  margin-bottom: 0.5rem;
}
.footer_content__logo p {
  text-align: right;
}
.footer_content__customer_service {
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  .footer_content__contact {
    flex: 1;
  }
}

#form_section {
  background-color: #f5f5f5;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.form_section {
  min-height: 100vh;
}
.form_section div div {
  border-radius: 1rem;
}
.form_section__title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.form_section__form_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 4rem;
  flex-wrap: wrap;
}
@media (max-width: 950px) {
  .form_section__form_container {
    flex-direction: column;
  }
}
.form_section__form_container .service_description {
  padding: 2rem;
  width: calc(50% - 1rem);
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1150px) {
  .form_section__form_container .service_description {
    width: calc(40% - 1rem);
  }
}
@media (max-width: 950px) {
  .form_section__form_container .service_description {
    width: 100%;
  }
}
.form_section__form_container .service_description .image_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.form_section__form_container .service_description .image_container img {
  width: 30%;
}
.form_section__form_container .service_description .image_container h3 {
  color: #222e60;
  font-size: 2.2rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
}
.form_section__form_container .service_description .paragraph {
  color: #545556;
  font-size: 1.6rem;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
}
.form_section__form_container .form_step {
  width: calc(50% - 1rem);
  background-color: white !important;
}
@media (max-width: 950px) {
  .form_section__form_container .form_step {
    width: 100%;
  }
}
.form_section__form_container .form_step .form_step_questions {
  display: flex;
  flex-direction: column;
}
.form_section__form_container .form_step .form_step_questions .form_group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
}
.form_section__form_container .form_step .form_step_questions .form_group .title {
  color: #222e60;
  font-size: 1.6rem;
  font-family: "Changa", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form_section__form_container .form_step .form_step_questions .form_group__checkbox_container {
  display: flex;
  gap: 1rem;
  margin-top: 0ز2rem;
  align-items: center;
}
.form_section__form_container .form_step .form_step_questions .form_group__checkbox_container .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form_section__form_container .form_step .form_step_questions .form_group__checkbox_container .checkbox input {
  width: 1.5rem;
  height: 1.5rem;
}
.form_section__form_container .form_step .form_step_questions .form_group__checkbox_container label {
  color: #545556;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  font-weight: 500;
}
.form_section__form_container .form_step .form_step_questions .form_group__question {
  color: black;
  font-size: 1.5rem;
  font-family: "Changa", sans-serif;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.form_section__form_container .form_step .form_step_questions .form_group__question::before {
  content: "*";
  color: rgb(255, 0, 0);
  margin-right: 0.5rem;
  position: absolute;
  left: -1rem;
  bottom: 0.3rem;
}
.form_section__form_container .form_step .form_step_questions .form_group__answer {
  border: 1px solid #9fa2b4;
  height: 4rem;
  border-radius: 0.6rem;
  outline: none;
  padding: 0 1rem;
  font-family: "Changa", sans-serif;
}
.form_section__form_container .form_step .form_step_questions .form_group__answer :focus {
  border: 2px solid #222e60;
}
.form_section__form_container .form_step .form_step_questions .form_group textarea {
  border: 1px solid #9fa2b4;
  border-radius: 0.6rem;
  outline: none;
  padding: 1rem;
  height: 100px;
}
.form_section__form_container .form_step .form_step_questions .form_group textarea :focus {
  border: 1px solid #222e60;
}
.form_section__form_container .form_step .step_changer {
  display: flex;
}
.form_section__form_container .form_step .step_changer__button {
  text-align: center;
  flex: 1;
  width: 100%;
  background-color: #222e60;
  color: white;
  border: none;
  outline: none;
  margin: 1rem;
  font-family: "Changa", sans-serif;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}
.form_section__form_container .form_step .error_message {
  color: rgb(143, 0, 0);
  background-color: #ff7f7f;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  padding: 0.6rem 0.4rem;
  margin: 0 15px;
}

#result-section {
  height: 70rem;
  background-color: #f5f5f5;
  padding-top: 15rem;
  padding-bottom: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}/*# sourceMappingURL=styles.css.map */